
h1 {
  color: black;
  font-family: sans-serif;
  font-size: 50px;
  line-height: 70%;
}
h2 {
  color: black;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 70%;
}
body {
    color: black;
}

